.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(35px + 2vmin);
  color: white;
  text-align: center;
}

body{
  background-color: #d3d7e0;
}

.container{
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px; 
  flex-flow: column;
}

.timer{
  font-size: 40px;
  padding-bottom: 10px;
}

button{
  background-color: rgb(42, 121, 153);
  border-radius: 20px;
  cursor: pointer;
  font-size: 30px;
  border: 1px solid;
  text-align: center;
  padding: 0.4px 20px;
  margin-left: 45px;
  margin-right: 45px;
}